.wittyLogo{
    width: 4rem;
}

.wittyHome a{
    text-decoration: none !important;
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
}
.wittyLabel{
    font-size: 1.5rem;
    color: black;
}


.logIn a{
    text-decoration: none !important;
}
.signUp a{
    text-decoration: none !important;
}

/* .topNav{
    border-bottom:solid 1px;
} */